<!DOCTYPE html>
<html>
<% include ../partials/header.ejs %>
<body>
<!-- CONTAINER -->
<div class="container-fluid">
    <!-- NAVBAR -->
    <% include ../partials/navbar.ejs %>
    <!-- ROW BODY -->
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!-- LEFT PANEL -->
                <% include sidebar.ejs %>
                <!-- RIGTH PANEL -->
                <div class="col-md-9" id="right_panel">
                    <div class="row">
                        <div class="well col-md-12">
                            <!-- RIGTH PANEL INCLUDE -->
                            ADMIN
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- RIGTH PANEL INCLUDE -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
</div>
<% include ../partials/footer.ejs %>
<!-- OWN JS -->
</body>
</html>