<% if(typeof(flash) !== 'undefined'){ %>
    <% if(flash.hasOwnProperty('error')) { %>
        <div class="alert alert-danger text-center">
            <h4 class="text-danger text-center">
                <fa class="fa fa-warning fa-2x pull-left"></fa>
                <%= flash.error %>
            </h4>
        </div>
    <% } else if(flash.hasOwnProperty('info')) { %>
        <div class="alert alert-info alert-dismissible text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h4 class="text-info text-center">
                <fa class="fa fa-info-circle fa-2x pull-left"></fa>
                <%= flash.info %>
            </h4>
        </div>
    <% } else if(flash.hasOwnProperty('success')) { %>
        <div class="alert alert-success alert-dismissible text-center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h4 class="text-success text-center"><fa class="fa fa-check-circle fa-2x pull-left"></fa>
                <%= flash.success %>
            </h4>
        </div>
    <% } %>
<% } %>