<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <% include flash_msg.ejs %>
    </div>
    <div class="col-md-2"></div>
</div>

<form class="form-horizontal" id="frm_edit_user" action="<%= action %>" METHOD="post" enctype="application/x-www-form-urlencoded">

    <input type="hidden" name="_method" value="PATCH"/>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input id="user-id" type="hidden" value="<%= locals.luser ? locals.luser.id : user.id %>">

    <div class="form-group">
        <label class="col-sm-2 control-label" for="inputUsername">Name</label>

        <div class="col-sm-10">
            <input name="username" id="inputUsername" minlength="2" required=""
                   value="<%= locals.luser ? locals.luser.username : user.username %>"
                   class="form-control" type="text"
                   placeholder="Name">
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="inputEmail">Email</label>

        <div class="col-sm-10">
            <input id="inputEmail"
                   name="email"
                   value="<%= locals.luser ? locals.luser.email : user.email %>"
                   class="form-control" type="email"
                   placeholder="Email" required="">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="caducidad">Password Expire date</label>

        <div class="col-sm-10">
            <p><%= locals.luser ? locals.luser.password_expiration : user.password_expiration %></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="inputPassword10">Password</label>

        <div class="col-sm-10">
            <input id="inputPassword10" class="form-control"
                   name="password"
                   type="password"
                   placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="inputPassword11">Password</label>

        <div class="col-sm-10">
            <input id="inputPassword11" class="form-control"
                   name="password_repeat"
                   type="password"
                   placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="Roles">Roles</label>
        <div class="col-sm-10">
            <select id="roles" name="roleId">
                <% _.each(roles, function(role){ %>
                <option value="<%= role.id %>" <%= role.role === luser.role() ? 'selected' : '' %>>
                    <%= role.role %>
                </option>
                <% }) %>
            </select>
        </div>
    </div>

    <button class="btn btn-success pull-left" type="submit" id="btn_submit_edit_user">Save User</button>

</form>

<button data-toggle="modal" data-target="#myModal" class="btn btn-danger pull-right" id="user_modal_delete">Delete User</button>