<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-lock"></span>
                    Confirm Action Please
                </h4>
            </div>
            <div class="modal-body">
                <h4>You want to delete <%= luser.username %> account?</h4>
                <form role="form" action="<%=url('admin.users.delete')%>" method="POST">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input name="id" type="hidden" value="<%= luser.id %>">
                    <button class="btn btn-danger">Delete User</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>