<!-- views/partials/header.ejs -->
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                        <b>
                            <%= _appconf.appName %>
                        </b>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <% if( needsRole(user,["admin","manager"]) ){ %>
                            <li class="active">
                                <a href="<%= url('admin')%>">
                                    Admin
                                    <span class="sr-only"></span>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!-- User Account Menu -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="icon-append fa fa-user"></i>&nbsp;
                                <span class="hidden-xs">
                                    <%= user.username %>
                                </span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="<%= url('users.profile') %>">
                                        <i class="icon-append fa fa-user"></i>
                                        Profile
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="<%= url('home.logout') %>">
                                        <i class="icon-append fa fa-sign-out"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>