<!DOCTYPE html>
<html>
<% include partials/header.ejs %>
<body>
<!-- CONTAINER -->
<div class="container-fluid">
    <!-- NAVBAR -->
    <% include partials/navbar.ejs %>
    <!-- ROW BODY -->
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!-- LEFT PANEL -->
                <div class="col-md-3" id="left_panel">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- LEFT PANEL INCLUDE -->

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- LEFT PANEL INCLUDE -->

                        </div>
                    </div>
                </div>
                <!-- RIGTH PANEL -->
                <div class="col-md-9" id="right_panel">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- RIGTH PANEL INCLUDE -->
                            <h2>Hi <%= user.username %></h2>
                            <p>Your role is:</p>
                            <p><b><%= user.Role.role %></b></p>

                            <% if(_appconf.mode === 'development'){ %>
                            <h3 class="text-muted">
                                You should have Maildev in action
                            </h3>
                            <h3 class="text-muted">
                                <a href="http://localhost:<%= _appconf.development.maildev.web %>" target="_blank">
                                    MailDev Web Interface
                                </a>
                            </h3>
                            <% } %>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- RIGTH PANEL INCLUDE -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->

</div>
<% include partials/footer.ejs %>
<!-- OWN JS -->
</body>
</html>