body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(8, 8, 8, 0.31), rgba(51, 51, 51, 0.54));
}

.wrapper {
    margin-top: 50px;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding: 10px 38px 66px;
    margin: 0 auto;
    background-color: rgba(40, 41, 49, 0.93);
    border: 3px dotted rgba(0,0,0,0.1);
    border-radius: 5px;
}

.form-signin-heading {
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.forgot.login.link {
    float: right;
    font-size: 90%;
    position: relative;
    top: 20px;
}