body {
  margin-top: 50px;
  padding: 25px;
  font-family: 'Roboto', sans-serif;
}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }