<h2>Create New User</h2>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <% include ../../partials/flash_msg.ejs %>
    </div>
    <div class="col-md-2"></div>
</div>

<form class="form-horizontal" action="#" METHOD="post" enctype="application/x-www-form-urlencoded">

    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="inputUsername">Name</label>

        <div class="col-sm-10">
            <input name="username" id="inputUsername" minlength="2" required=""
                   class="form-control" type="text"
                   placeholder="Name">
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="inputEmail">Email</label>

        <div class="col-sm-10">
            <input id="inputEmail"
                   name="email"
                   class="form-control" type="email"
                   placeholder="Email" required="">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="inputPassword10">Password</label>

        <div class="col-sm-10">
            <input id="inputPassword10" class="form-control"
                   name="password"
                   type="password"
                   placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="Roles">Roles</label>
        <div class="col-sm-10">
            <select id="roles" name="roleId">
                <% _.each(roles, function(role){ %>
                <option value="<%= role.id %>">
                    <%= role.role %>
                </option>
                <% }) %>
            </select>
        </div>
    </div>


    <button class="btn btn-default" type="submit">Cancel</button>
    <button class="btn btn-success pull-right" type="submit" id="btn_submit_edit_user">Create User</button>
</form>