<!DOCTYPE html>
<html>
<% include ../../partials/header.ejs %>
<body>
<!-- CONTAINER -->
<div class="container-fluid">
    <!-- NAVBAR -->
    <% include ../../partials/navbar.ejs %>
    <!-- ROW BODY -->
    <div class="row">
            <!-- FLASH MSG -->
            <div class="col-md-9 pull-right">
                <% include ../../partials/flash_msg.ejs %>
            </div>
        <div class="col-md-12">
            <div class="row">
                <!-- LEFT PANEL -->
                <% include ../sidebar.ejs %>
                <!-- RIGTH PANEL -->
                <div class="col-md-9" id="right_panel">

                    <div class="row">
                        <div class="col-md-12">
                            <!-- RIGTH PANEL INCLUDE -->
                            <h2>
                                User List
                                <small>
                                    showing: <%= users.rows.length %> of <%= users.count %> Users
                                </small>
                            </h2>

                            <!-- PAGINATION -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="pagination-users"></div>
                                </div>
                            </div>
                            <!-- PAGINATION END -->

                            <div class="list-group">
                                <% _.each(users.rows, function(user){ %>
                                <a href="<%= url('admin.users.profile',{userId: user.id}) %>" class="list-group-item">
                                    <h4 class="list-group-item-heading"><%= user.username %></h4>
                                    <p class="list-group-item-text">Role: <b> <%= user.role() %></b></p>
                                    <p class="list-group-item-text">Email: <%= user.email %></p>
                                </a>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->

</div>
<% include ../../partials/footer.ejs %>
<script type="text/javascript" defer>
    $(document).ready(function(e){
        console.log('Ready for Users List')

        /* twbsPagination users */
        $('#pagination-users').twbsPagination({
            totalPages: <%= locals.pages %>,
            visiblePages: 5,
            currentPage: <%= locals.page - 1%>,
            first: '<span aria-hidden="true">&laquo;</span>',
            last: '<span aria-hidden="true">&raquo;</span>',
            prev:'Prev',
            href: "<%=url('admin.users')%>/{{number}}"
        });

        /* Alerts Helper */
        var alerts = {};
        alerts.info = $('.alert.alert-info');
        alerts.success = $('.alert.alert-success');
        alerts.close = function(){
            var _self = this;
            if(this.info.is(':visible'))
                this.info.fadeTo(2000, 500).slideUp(500, function(){
                    _self.info.slideUp(500);
                });
            if(this.success.is(':visible'))
                this.success.fadeTo(2000, 500).slideUp(500, function(){
                    _self.success.slideUp(500);
                });
        };

        alerts.close()
    })
</script>
<!-- OWN JS -->
<script type="text/javascript">
    $(document).ready(function () {
    })
</script>
</body>
</html>