<!DOCTYPE html>
<html>
<% include ../../partials/header.ejs %>
<body>
<!-- CONTAINER -->
<div class="container-fluid">
    <!-- MODAL CONFIRM -->
    <!-- NAVBAR -->
    <% include ../../partials/navbar.ejs %>
    <!-- ROW BODY -->
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!-- LEFT PANEL -->
                <% include ../sidebar.ejs %>
                <!-- RIGTH PANEL -->
                <div class="col-md-9" id="right_panel">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- RIGTH PANEL INCLUDE -->
                            <div class="box box-solid box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Profile</h3>
                                </div>
                                <div class="box-body">
                                    <% include ../../partials/modal_delete.ejs %>
                                    <% include ../../partials/frm_edit_profile.ejs %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer.ejs %>
<!-- OWN JS -->
<script type="text/javascript" defer>
    $(document).ready(function(){
        console.log('Ready for Users Profile')
        $('#roles').select2({width: 100});
    })
</script>
</body>
</html>