<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title %>
    </title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- CSS -->
    <link rel='stylesheet' href="<%= _assets.staticAssets.global.css %>"/>
    <link rel='stylesheet' href="/stylesheets/login.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,900' rel='stylesheet' type='text/css'>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body>
<!-- MAIN BODY -->
<% include frm_fogot.ejs %>
</body>
</html>

