<div class="container">
    <div class="wrapper">
        <form class="form-signin"
              action="<% url('auth.forgot') %>"
              METHOD="post"
              enctype='application/json'>
            <h3 class="form-signin-heading">
                <b style="color:#c7c7c7 !important"><%= _appconf.appName %></b>
            </h3>
            <% include ../partials/flash_msg.ejs %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group has-feedback">
                <input name="email" placeholder="email" required type="email" class="form-control">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row ">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-danger text-center">Request New Password</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>