<form class="form-signin" action="<%= url('auth.reset',{token: resetPasswordToken}) %>" METHOD="post" enctype='application/json'>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="form-group has-feedback">
        <input name="password" placeholder="password" required type="password" class="form-control">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input name="password1" placeholder="password" required type="password" class="form-control">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <button type="submit" class="btn btn-success">Change Password</button>
        </div>
        <!-- /.col -->
    </div>
</form>