<!DOCTYPE html>
<html>
<% include ../partials/header.ejs %>
<body class="hold-transition login-page">
<!-- MAIN BODY -->
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Medi</b>NET</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Recuperar Cuenta</p>
        <% include ../partials/flash_msg.ejs %>
        <% include frm_reset.ejs %>
    </div>
</div>
<!-- SCRIPTS FOOTER -->
<!-- OWN SCRIPTS -->
<script></script>
</body>
</html>