<div class="container">
    <div class="wrapper">
        <form action="<%= url('auth.login') %>"
              method="post"
              enctype='application/json'
              class="form-signin">

            <h3 class="form-signin-heading">
                <b style="color:#c7c7c7 !important"><%= _appconf.appName %></b>
            </h3>

            <% if(typeof(error) !== 'undefined') { %>
            <div class="alert alert-danger">
                <strong>Error!</strong>
                    <span>
                        <%= error.message %>
                    </span>
            </div>
            <% } %>

            <input type="hidden"
                   name="_csrf"
                   value="<%= csrfToken %>">
            <input type="text"
                   class="form-control"
                   name="username"
                   placeholder="Username"
                   required=""
                   autofocus="" />
            <br />
            <input type="password"
                   class="form-control"
                   name="password"
                   placeholder="Password"
                   required="" />

            <button class="btn btn-lg btn-primary btn-block"
                    name="Submit" value="Login" type="Submit">Login</button>
            <div class="forgot login link">
                <a href="<%= url('auth.forgot') %>">Forgot password?</a>
            </div>
        </form>
    </div>
</div>